{% extends 'base.html' %}

{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
    <li class="breadcrumb-item active">New Topic</li>
{% endblock %}

{% block content %}
    <div class="card text-white bg-dark">
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form_fields.html' %}
                <button type="submit" class="btn btn-light">Post</button>
            </form>
        </div>
    </div>
{% endblock %}
