{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block content %}
    <div class="card text-white bg-dark">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form_fields.html' %}
                        <button type="submit" class="btn btn-info">Change password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

