body {
  background-image: url(../img/terrazzo.png);
}

.logo {
  font-family: 'Montserrat', sans-serif;
}

.logo a:active, .logo a:visited, .logo a:link {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
    color: #005cbf;
  text-decoration: none;
}
